<?php
$this->headTitle($this->translate('Bilder', 'bitkornimages'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/images-admin.js?v=0.0.2'));
?>
<h2>Bilder</h2>
<?php if (!empty($this->images)) : ?>
    <div class="w3-row bk-images-gallery-row">
        <?php foreach ($this->images as $image) : ?>
            <div class="w3-col l3 m6 s12 w3-card-2 bk-images-gallery-card" id="div-image-id-<?php echo $image['bk_images_image_id'] ?>">
                <div class="w3-container">
                    <a href="<?php echo $this->imageSrc($image['bk_images_image_id'], ['sixteenToNine' => 60], $this->imageEntity) ?>" class="gallery-link"
                       data-titlesrc="<?php echo $this->imageEntity->getImageTitle($image['bk_images_image_id']) . ' | ' . $this->imageEntity->getImageDesc($image['bk_images_image_id']) ?>">
                        <img src="<?php echo $this->imageSrc($image['bk_images_image_id'], ['sixteenToNine' => 10], $this->imageEntity) ?>"
                             alt="<?php echo $this->imageEntity->getImageTitle($image['bk_images_image_id']) ?>" class="w3-image image-transparent-background">
                        <div>ID = <?php echo $image['bk_images_image_id'] ?></div>
                    </a>
                    <h4><?php echo $this->shorterText($this->imageEntity->getImageTitle($image['bk_images_image_id']), 25) ?></h4>
                    <p title="<?php echo $this->imageEntity->getImageDesc($image['bk_images_image_id']) ?>">
                        <?php echo $this->shorterText($this->imageEntity->getImageDesc($image['bk_images_image_id']), 30) ?>&nbsp;
                    </p>
                </div>

                <footer>
                    <a class="w3-button bk-grey" href="<?php echo $this->url('bitkornimages_admin_editimage', ['image_id' => $image['bk_images_image_id']]) ?>">edit</a>
                    <button class="w3-button w3-red delete-image" data-imageid="<?php echo $image['bk_images_image_id'] ?>">delete</button>
                </footer>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
