<?php
$this->headTitle('Bild Upload');
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Bilder Upload
    <a href="<?php echo $this->url('bitkornimages_admin_images') ?>" class="w3-right w3-small">
        <i class="fas fa-backward" aria-hidden="true"></i> <?php echo $this->translate('Bilderliste', 'bitkornimages') ?>
    </a>
</div>
<?php echo $this->form($this->imageForm) ?>