<?php
//echo $this->printrTextarea($this->images);
?>
<style type="text/css">
    img {
        margin: 2px;
    }
    /*    img:active, img:focus {
            border: 2px solid #0066cc;
            margin: 0px;
        }*/
</style>
<script type="text/javascript">
    $('img').click(function () {
        $('.bk-image-choose-image').each(function (index, element) {
            $(this).css('border', 'none');
            $(this).css('margin', '2px');
        });
        $(this).css('border', '2px solid #0066cc');
        $(this).css('margin', '0');
    });

    function openBkImagesBrowseTab(event, tabName) {
        var i;
        var x = document.getElementsByClassName('bk-image-choose-tab');
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none';
        }
        document.getElementById(tabName).style.display = 'block';

        tablinks = document.getElementsByClassName('tablink');
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(' w3-grey', '');
        }
        event.currentTarget.className += ' w3-grey';
    }
    $('#bk-images-modal-save').click(function () {

    });
</script>
<?php if (!empty($this->images)) : ?>
    <div class="w3-bar w3-black">
        <button class="w3-bar-item w3-button tablink w3-grey" onclick="openBkImagesBrowseTab(event, 'bk-image-choose-images')">Images</button>
        <button class="w3-bar-item w3-button tablink" onclick="openBkImagesBrowseTab(event, 'bk-image-choose-images-attributes')">Image Attributes</button>
    </div>
    <div id="bk-image-choose-images" class="bk-image-choose-tab">
        <?php
        foreach ($this->images as $image) :
            $imageScalings = json_decode($image['bk_images_image_scaling'], true);

            if (!isset($imageScalings['magicTwoSquare']) || !in_array(64, $imageScalings['magicTwoSquare'])) {
                continue;
            }

            $relImagePath = $this->imagesRelRoot
                    . date('Y', $image['bk_images_image_time_create'])
                    . '/' . date('m', $image['bk_images_image_time_create'])
                    . '/' . $image['bk_images_image_id']
                    . '/' . $image['bk_images_image_filename'] . '_mts_64.' . $image['bk_images_image_extension']
            ?>
            <div class="w3-border" style="display: inline-block">
                <img src="<?php echo $relImagePath ?>"
                     alt="<?php echo $image['bk_images_image_title'] ?>"
                     class="bk-image-choose-image">
                <br>
                <!--<textarea><?php // echo print_r($imageScalings, true)            ?></textarea>-->
                <?php echo $this->imageScaleSelect($image) ?>
            </div>
        <?php endforeach; ?>
    </div>
    <div id="bk-image-choose-images-attributes" class="bk-image-choose-tab" style="display:none">
        <p>
            <label>Image Float
                <select name="image_float" class="w3-select">
                    <option value="left">left</option>
                    <option value="right">right</option>
                    <option value="none">none</option>
                </select>
            </label>
        </p>
        <p>
            <label>
                Alternate text
                <input type="text" name="image_alt" class="w3-input w3-border">
            </label>
        </p>
        <p>
            <label>Image Display
                <select name="image_float" class="w3-select">
                    <option value="inline">inline</option>
                    <option value="block">block</option>
                </select>
            </label>
        </p>
    </div>
<?php endif; ?>
