<?php
//echo $this->printrTextarea($this->images);
?>
<style type="text/css">
    img {
        margin: 2px;
    }
    /*    img:active, img:focus {
            border: 2px solid #0066cc;
            margin: 0px;
        }*/
</style>
<script type="text/javascript">
    $('input[name="add_images_slider_bk_images_slider_id"]').change(function () {
        var showEditTab = true;
        $('input[name="add_images_slider_bk_images_slider_id"]').each(function (index, element) {
            if ($(element).prop('checked')) {
                showEditTab = false;
            }
        });
        if (showEditTab) {
            $('#tab_button_edit_slider_images').css('display', 'block');
        } else {
            $('#tab_button_edit_slider_images').css('display', 'none');
        }
    });

    function openBkSliderImagesBrowseTab(event, tabName) {
        var i;
        var x = document.getElementsByClassName('bk-image-choose-tab');
        for (i = 0; i < x.length; i++) {
            x[i].style.display = 'none';
        }
        document.getElementById(tabName).style.display = 'block';

        tablinks = document.getElementsByClassName('tablink');
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(' w3-grey', '');
        }
        event.currentTarget.className += ' w3-grey';
    }
    $('#bk-images-modal-save').click(function () {

    });
</script>
<?php if (!empty($this->sliders)) : ?>
    <div class="w3-bar w3-black">
        <button id="tab_button_add_slider_images" class="w3-bar-item w3-button tablink w3-grey" 
                onclick="openBkSliderImagesBrowseTab(event, 'bk-images-slider-image-add')">Add Slider Images</button>
        <button id="tab_button_edit_slider_images" class="w3-bar-item w3-button tablink" 
                onclick="openBkSliderImagesBrowseTab(event, 'bk-images-slider-images-edit')">Edit Slider Images</button>
    </div>
    <div id="bk-images-slider-image-add" class="bk-image-choose-tab">
        <?php
        foreach ($this->sliders as $slider) :
            $relImagePath = $this->sliderRelRoot
                    . date('Y', $slider['bk_images_slider_time_create'])
                    . '/' . date('m', $slider['bk_images_slider_time_create'])
                    . '/' . $slider['bk_images_slider_id']
                    . '/';
            $relImagePathThumb = $relImagePath . $slider['bk_images_slider_filename_thumb'] . '.' . $slider['bk_images_slider_extension'];
            $relImagePathTarget = $relImagePath . $slider['bk_images_slider_filename'] . '.' . $slider['bk_images_slider_extension'];
            ?>
            <div class="w3-border" style="display: inline-block">
                <label>
                    <img src="<?php echo $relImagePathThumb ?>"
                         alt="<?php echo $slider['bk_images_slider_title'] ?>"
                         class="bk-image-choose-image"
                         data-sliderimageid="<?php echo $slider['bk_images_slider_id'] ?>">
                    <div class="w3-center">
                        <input type="checkbox" name="add_images_slider_bk_images_slider_id" value="<?php echo $slider['bk_images_slider_id'] ?>">
                        <input type="hidden" name="add_images_slider_src_<?php echo $slider['bk_images_slider_id'] ?>" value="<?php echo $relImagePathTarget ?>">
                        <input type="hidden" name="add_images_slider_src_thumb_<?php echo $slider['bk_images_slider_id'] ?>" value="<?php echo $relImagePathThumb ?>">
                        <input type="hidden" name="add_images_slider_alt_<?php echo $slider['bk_images_slider_id'] ?>" value="<?php echo $slider['bk_images_slider_title'] ?>">
                    </div>
                </label>
            </div>
        <?php endforeach; ?>
    </div>
    <div id="bk-images-slider-images-edit" class="bk-image-choose-tab" style="display:none">
        <!-- dynamic generated content -->
    </div>
    <input type="hidden" name="relimagefilename" value="">
<?php endif; ?>

<script type="text/javascript">
</script>