<?php
$this->headTitle('Bild Edit (No Scale)');
?>
<div class="w3-panel w3-padding-8 w3-grey">
    <?php if (isset($this->forwardUrl)) : ?>
        <a href="<?php echo $this->forwardUrl ?>" class="w3-right w3-small">
            <i class="fas fa-backward" aria-hidden="true"></i> <?php echo $this->translate('zurück') ?>
        </a>
    <?php else: ?>
        <a href="<?php echo $this->url('bitkornimages_admin_images') ?>" class="w3-right w3-small">
            <i class="fas fa-backward" aria-hidden="true"></i> <?php echo $this->translate('Bilderliste') ?>
        </a>
    <?php endif; ?>
</div>
<?php echo $this->form($this->imageEditForm) ?>