<?php
$this->headTitle($this->translate('Bilder (No Scale)', 'bitkornimages'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/images-admin.js?v=0.0.2'));
//echo $this->printrTextarea($this->images);
?>
<h2>Bilder (No Scale)</h2>
<?php if (!empty($this->images)) : ?>
    <div class="w3-row bk-images-gallery-row">
        <?php foreach ($this->images as $image) : ?>
            <div class="w3-col l3 m6 s12 w3-card-2 bk-images-gallery-card" id="div-image-id-<?php echo $image['bk_images_image_noscale_id'] ?>">
                <div class="w3-container">
                    <a href="<?php echo $this->imageNoScaleSrc($image) ?>" class="gallery-link" 
                       data-titlesrc="<?php echo $image['bk_images_image_noscale_desc_intern'] ?>">
                        <img src="<?php echo $this->imageNoScaleSrc($image) ?>" 
                             alt="<?php echo $image['bk_images_image_noscale_desc_intern'] ?>" class="w3-image image-transparent-background" style="height: 100px;">
                        <div>ID = <?php echo $image['bk_images_image_noscale_id'] . ' | size = ' . $image['bk_images_image_noscale_scaling'] ?></div>
                    </a>
                    <h4><?php echo $this->shorterText($image['bk_images_image_noscale_title'], 25) ?></h4>
                    <p title="<?php echo $image['bk_images_image_noscale_desc_intern'] ?>">
                        <?php echo $this->shorterText($image['bk_images_image_noscale_desc_intern'], 30) ?>&nbsp;
                    </p>
                </div>

                <footer>
                    <a class="w3-button bk-grey" href="<?php echo $this->url('bitkornimages_admin_editimagenoscale', ['image_id' => $image['bk_images_image_noscale_id']]) ?>">edit</a>
                    <button class="w3-button w3-red delete-image-noscale" data-imageid="<?php echo $image['bk_images_image_noscale_id'] ?>">delete</button>
                </footer>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
