<?php
$this->headTitle('Bilder Upload (No Scale)');
?>
<div class="w3-panel w3-padding-8 w3-grey">
    Bilder Upload (No Scale)
    <a href="<?php echo $this->url('bitkornimages_admin_imagesnoscale') ?>" class="w3-right w3-small">
        <i class="fas fa-backward" aria-hidden="true"></i> <?php echo $this->translate('Bilderliste (No Scale)', 'bitkornimages') ?>
    </a>
</div>
<?php echo $this->form($this->imageNoScaleForm) ?>