<?php
//echo $this->printrTextarea($this->articles);

/**
 * mit diesem Helper kann JEDE vorhandene Groesse ausgewaehlt werden.
 */
//function getOptionHtml($imgSrc, $optionText)
//{
//    return '<option value="' . $imgSrc . '">' . $optionText . '</option>';
//}
?>
<?php if (!empty($this->imageScalings)) : ?>
    <select id="imageselect-imageid-<?php echo $this->imageId ?>">
        <?php
        foreach ($this->imageScalings as $imageScalingType => $imageScaling) :
            $imgSrc = '';
            $optionText = '';
            switch ($imageScalingType) {
                case 'original':
                    $imgSrc = str_replace('SCALING', '', $this->relFileName);
                    echo '<option value="' . $imgSrc . '">Original</option>';
                    break;
                case 'magicTwoSquare':
                    foreach ($imageScaling as $scaleVal):
                        $imgSrc = str_replace('SCALING', 'mts_' . $scaleVal, $this->relFileName);
                        echo '<option value="' . $imgSrc . '">' . 'quadratisch ' . $scaleVal . '</option>';
                    endforeach;
                    break;
                case 'fullHd':
                    $imgSrc = str_replace('SCALING', 'fullhd', $this->relFileName);
                    echo '<option value="' . $imgSrc . '">Full HD</option>';
                    break;
                case 'sixteenToNine':
                    foreach ($imageScaling as $scaleVal):
                        $imgSrc = str_replace('SCALING', 'stn_' . $scaleVal, $this->relFileName);
                    echo '<option value="' . $imgSrc . '">16:9 ' . (16 * $scaleVal) . ' x ' . (9 * $scaleVal) . '</option>';
                    endforeach;
                    break;
                case 'custom':
                    foreach ($imageScaling as $scaleVal):
                        $imgSrc = str_replace('SCALING', $scaleVal, $this->relFileName);
                    echo '<option value="' . $imgSrc . '">Custom ' . $scaleVal . '</option>';
                    endforeach;
                    break;
            }
            ?>
        <?php endforeach; ?>
    </select>
<?php endif; ?>