<?php
$this->headTitle('slider image edit');
?>
<div class="w3-panel w3-padding-8 w3-grey">
        <a href="<?php echo $this->url('bitkornimages_admin_sliderimages') ?>" class="w3-right w3-small">
            <i class="fas fa-backward" aria-hidden="true"></i> <?php echo $this->translate('Sliderliste') ?>
        </a>
</div>
<?php echo $this->form($this->sliderEditForm) ?>