<?php
$this->headTitle($this->translate('Slider Images', 'bitkornimages'));
$this->inlineScript()->appendFile($this->basePath('js/app/admin/images-admin.js?v=0.0.2'));
//echo $this->printrTextarea($this->images);
?>
<h2>Slider Bilder</h2>
<?php if (!empty($this->sliderImages)) : ?>
    <div class="w3-row bk-images-gallery-row">
        <?php foreach ($this->sliderImages as $sliderImage) : ?>
            <div class="w3-col l3 m6 s12 w3-card-2 bk-images-gallery-card" id="div-slider-image-id-<?php echo $sliderImage['bk_images_slider_id'] ?>">
                <div class="w3-container">
                    <a href="<?php echo $this->sliderImageSrc($sliderImage) ?>" class="gallery-link" data-titlesrc="<?php echo $sliderImage['bk_images_slider_desc'] ?>">
                        <img src="<?php echo $this->sliderImageSrc($sliderImage, true) ?>" 
                             alt="<?php echo $sliderImage['bk_images_slider_title'] ?>" class="w3-image image-transparent-background">
                        <div>ID = <?php echo $sliderImage['bk_images_slider_id'] ?></div>
                    </a>
                    <h4><?php echo $this->shorterText($sliderImage['bk_images_slider_title'], 25) ?></h4>
                    <p title="<?php echo $sliderImage['bk_images_slider_desc'] ?>">
                        <?php echo $this->shorterText($sliderImage['bk_images_slider_desc'], 30) ?>&nbsp;
                    </p>
                </div>

                <footer>
                    <a class="w3-button bk-grey" href="<?php
                    echo $this->url('bitkornimages_admin_editsliderimage', ['slider_image_id' => $sliderImage['bk_images_slider_id']])
                    ?>">
                        edit</a>
                    <button class="w3-button w3-red delete-slider-image" data-sliderimageid="<?php echo $sliderImage['bk_images_slider_id'] ?>">delete</button>
                </footer>
            </div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>
